@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&family=Handjet&family=Vidaloka&family=Zeyada&display=swap');

.betutipus{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
div.scroll-container {
  background-color: rgb(147, 147, 147);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}


body {
    transition: background-color 0.5s ease; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
  }
  .color-palette {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .color-box {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  /*....*/
  .navbar,
  .footer {
    background-color: #f8f2e9;
  }
  .navbar,
  .footer a {
    color: #333;
  }
  /*....*/
  .footer {
    position: none;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar-nav .nav-item {
    margin-right: 18px;/*30px*/
  }

  .navbar-right-container {
    display: flex;
    align-items: center;
  }

  .navbar-right-container>*:not(:last-child) {
    margin-right: 15px;
  }
  
  .navbar .btn {
    margin-right: 10px;
   }
.divider {
border: none;
border-top: 1px solid #ccc; 
margin: 20px 0; 
}
.color-box{border: #000000 1px solid; border-radius: 5px;}
.navbar-brand{border: #000000 1px solid; border-radius: 5px; background-color: #525252; margin-left: 10px;}


/* Középre igazítás kicsi nézetre px */
@media (max-width: 1452.827px) {
#navbarNav {
  justify-content: center;
}
.navbar-nav {
  text-align: center;
}
.navbar-nav .nav-item {
  display: inline-block;
}
}

/* Reszponzív stílusok px*/
@media (max-width: 1452.827px) {
.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}
.navbar-toggler {
  margin-left: auto;
}
}

.iconm{width: 50px;}

.position1{
  padding: 20px;
}
.position2{
  padding: 20px;
}

.card-body-container {
max-height: 454px; 
overflow: auto;
}
.info-box {

height: 230px; 
}
.card-body1{  height: 200px; }


/*-----carousel------*/
.carousel-item {
  height: 600px;
  animation-duration: 6ms;
 
  border-bottom: black 4px solid;
}


.carousel-item img {
  object-fit: cover; /* hogy a képek kitöltsék a Carousel teljes terét */
  height: 100%;
  width: 100%;
}

.carouselkepek{
  height: 875px;
}


* {
  padding: 0;
  margin: 0;
}




/*carousel szöveganimáció*/

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 1s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 1s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 1s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 1s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 1s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 1s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 1s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 1s 0.10s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/*carousel szöveganimáció vége*/

.img-hover-zoom--blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

/* The Transformation */
.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1);
}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.image-box img {
  max-width: 100%;
  transition: all 0.7s;
  display: block;
  width: auto;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.mycontainer {
  display: flex;
  
  margin-left: 65%;
  float: top;
  text-align: center;
}
.mycontainer > div {
  width:30%;
}

.icon-container {
  margin-right: 10px; /* Adj megfelelő margót az ikonok között */
}

.ikon{
  height: 150px;
  width: 150px;
}

.iconitem{
  width: 100px;
  height: 100px;
}
.icons p{
  color:orangered;
  opacity: 1;
  visibility: hidden;
}
/*...*/
.hajszarito:hover p,
.lcdtv:hover p,
.telefon:hover p,
.wifi:hover p,
.minibar:hover p,
.szef:hover p,
.legkondicionalo:hover p,
.potagy:hover p,
.szobaszerviz:hover p {
  visibility: visible;
}
/*...*/


/* Csúszka */
::-webkit-scrollbar {
  width: 5px; /* Vekonyitas*/
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Görgetési sáv háttere */
}
::-webkit-scrollbar-thumb {
  background: #888; /* Csúszka színe */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Aktív csúszka színe, amikor ráviszük*/
}
/* Csúszka vege */

.box {
  background-color: white;
  border-radius: 5px;
}
.kepgaleria{
  width: 500px;
}

/* user */
.user-icon {
  
  width: 40px; /* méret */
  height: none; /* méret */
  line-height: 37px; /* középre igazítás */
  text-align: center; /* középre igazítás */
  border-radius: 5px; /* kerekítés */
  background-color: lightgray;/* háttérszín */
  color: #000000; /* ikon színe */
  border: 1px solid black;
}

.no-caret::after {/*Eltávolítja a lenyíló nyílt*/
  display: none !important;
}
/* user */

/* Átlátszóság Étterem */
.custom-card {
  border: 1px solid #ccc; /* Szegély */
  border-radius: 5px; /* Kerekített sarkok */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék */
  padding: 20px; /* Belső tér */
  background-color: #fff; /* Háttérszín */
  position: relative;
}

.custom-card .card-title {
  font-size: 1.2rem; /* Címsor mérete */
  font-weight: bold; /* Vastagság */
}

.custom-card .card-body {
  color: #333; /* Szövegszín */
}

.custom-card img {
  max-width: 100%; /* Képek maximális szélessége */
  height: auto; /* Automatikus magasság */
  border-radius: 5px; /* Kerekített sarkok */
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Átlátszó fekete háttér */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Kezdetben átlátszó, csak a hover hatásnál lesz látható */
  transition: opacity 0.3s ease;
}

.custom-card:hover .image-overlay {
  opacity: 1; /* Amikor a kártya fölé viszik az egeret, az overlay megjelenik */
}

.image-text {
  color: white; /* A szöveg színe */
  font-size: 24px; /* A szöveg mérete */
}
/* Átlátszóság Étterem */

.elsokozerdeku{
  background-image:url("/img/etterem/etterem1.jpg");
}



/* Közös stílusok */
.leirasigazit{
  text-align:center;
  list-style-type: none;
}
.leirasigazit li,
.szobainkh1,
.szobainkhr {
  background: linear-gradient(to right, black, rgb(197, 53, 1), rgb(209, 115, 0));
  background-clip: text;
  color: transparent;
  font-style: italic;
  transition: background-color 0.3s ease; /* Átmenet hozzáadása a háttérszínhez */
}

.szobainkh1 {
  text-transform: uppercase;
}

.szobainkhr {
  border-top: 1px solid red;
}
.custom-modal {
  max-width: 45%;
  margin: auto;
}

.modal-body img {
  width: 100%;
  height: auto;
}

/* Közös stílusok az összes képhez */
.szobakepek {
  margin-bottom: 3%;
  border-radius: 1%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  transition: all 2s cubic-bezier(.25,.8,.25,1);
}

/* Hover effekt az összes képhez */
.szobakepek:hover {
  box-shadow: 
    0 14px 28px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50);
}

.elsokep,.masodikkep,.harmadikkep,.negyedikkep{
  margin-bottom: 3%;
  border-radius: 1%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  transition: all 2s cubic-bezier(.25,.8,.25,1);
}

.elsokep:hover,.masodikkep:hover,.harmadikkep:hover,.negyedikkep:hover {
  box-shadow: 
    0 14px 28px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50), 
    0 10px 10px rgba(0,0,0,0.50);
}
/*Hover effektes szobák vége*/



.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
}

.img-wrapper {
  display: inline-block;
  box-sizing: border-box;
}
/*Deluxe szoba vége*/





.foglalhatoszobakcim{
  text-transform: uppercase;
}

/*szobacarousel*/

/*szobacarousel vége*/



/*Discoparty*/
#grid {
  width: calc(none - 5vmin);
  aspect-ratio: 16 / 7;
  background: linen;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  place-items: center;
  outline: 2px solid #804a00;
  border-radius: 5vmin;
  box-shadow: 0 1rem 2rem -1rem rgba(68, 50, 4, 1);
}

.left,
.right,
.middle {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform-origin: center;
}

.left {
  background-image: url('../img/Esemenyek/disco1.jpg');
  border-right: 1px solid #804a00;
}

.middle {
  font-size: 0rem;
  background-image: url('../img/Esemenyek/disco3.jpg');
}

.right {
  background-image: url('../img/Esemenyek/disco2.jpg');
  border-left: 1px solid #804a00;
}

#grid:hover {
  grid-template-columns: 0fr 1fr 0fr;
}



:root {
  /*  change this for scaling  */
    --m: 4rem;
    
    --red: #8c0000;
    --pink: #ff00f7;
    --purple: #6B5FFF;
    --blue: #0059ff;
    --green: #5BFF89;
    --yellow: #FFEE55;
    --orange: #ff5e00;
    
  }

  .tesztalany {
    border: calc(0.08 * var(--m)) solid transparent;
    background:linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),
    linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: animate 2s infinite linear;
  }
  
  @keyframes animate {
    0% {background-position: 0}
    100% {background-position: 200%}
  }
  
  @media screen and (max-width: 1000px) {
    :root {
      --m: 2rem;
    }
  }
/*Discoparty*/
