    
  <!-- <div class="position1 container text-center">
    <div class="position2 row">
      <div class="card mt-3 rounded"  style="width: 400px; margin: 0 auto;">
        <div class="card-body">
          <h2 class="text-center mt-3">Jővöbeli eseményeink</h2>
        </div>
      </div>      
    </div>
  </div> -->
   
 <div class="position1 container">
  <div class="position2 row" ng-repeat="(k, v) in  data">

    <!-- Title -->
    <h2 class="text-center mt-3" ng-if="k==='future'">Jővöbeli eseményeink</h2>
    <h2 class="text-center mt-3" ng-if="k==='past'">Régebbi eseményeink</h2>

    <!-- Cards -->
    <div class="col-md-4 cursor-pointer" 
         ng-repeat="x in data[k] track by $index"
         ng-click="methods.description($event)"
         key="{{k}}"
         index="{{$index}}">
      <img ng-src="./img/Esemenyek/{{x.img}}" 
           class="img-thumbnail rounded-start" 
           alt="family" 
           data-bs-toggle="modal" 
           data-bs-target="#family">
      <div class="container border border-black"
           ng-if="k==='future'">
        <h3 id="headline" class="text-center">Visszaszámláló</h3>
        <div id="countdown" class="text-center">
          <p>
            <span id="days">{{x.days}}</span> Nap 
            <span id="hours">{{x.hours}}</span> Óra 
            <span id="minutes">{{x.minutes}}</span> Perc 
            <span id="seconds">{{x.seconds}}</span> Másodperc
          </p>
        </div>
      </div>
      <div class="container border border-black"
           ng-if="k==='past'">
        <h3 id="headline" class="text-center">Lejárt</h3>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="family" tabindex="-1">
  <div class="modal-dialog modal-lg"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Családi nap</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fulid">
          <div class="row col-md-6">
                <div>{{description}}</div>
                <div class="col">
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



