<!--  Éttermi opciók és modális tartalmak -->
<div ng-controller="RestaurantController">
  <!-- Dinamikus megjelenítés -->
  <div class="position1 container-fluid">
    <div class="position2 row row-cols-1 row-cols-md-2 g-4">
      <div class="col" ng-repeat="option in foodOptions">
        <div class="custom-card" data-bs-toggle="modal" data-bs-target="#{{ option.modalId }}">
          <img ng-src="{{ option.img }}" class="card-img-top" alt="{{ option.title }}">
          <div class="image-overlay">
            <span class="image-text">{{ option.title }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dinamikus modál -->
  <div ng-repeat="option in foodOptions">
    <div class="modal" id="{{ option.modalId }}" tabindex="-1">
      <div class="modal-dialog modal-xl modal-dialog-centered"> 
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ option.modalTitle }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{ option.modalDescription }}</p>
            <div class="container-fluid">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <!-- Modál tartalom képekkel és szövegekkel -->
                <div class="col" ng-repeat="item in option.modalContent">
                  <div class="custom-card">
                    <img ng-src="{{ item.img }}" class="img-fluid rounded" alt="{{ item.text }}">
                    <div class="image-overlay">
                      <div class="image-text">{{ item.text }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
