<nav class="navbar navbar-expand-xl" 
		 id="navbar">

	<!-- Container -->
	<div class="container-fluid">
		
		<!-- Logo és szolgáltatások baloldalon -->
		<a class="navbar-brand" ui-sref="home">
			<img ng-src="./img/Icon/logo_neve.png" 
					 alt="Logo" 
					 height="30" 
					 class="d-inline-block align-top">
		</a>

		<!-- Hamburger icon -->
		<button class="navbar-toggler" 
						type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#navbarNav"
						aria-controls="navbarNav" 
						aria-expanded="false" 
						aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!--  -->
		<div class="collapse navbar-collapse" 
				 id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" ui-sref="szallodank">Szállodánk</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ui-sref="rooms">Szobáink</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ui-sref="restaurant">Éttermünk</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ui-sref="szolgaltatasaink">Szolgáltatások</a>
				</li>	 
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" 
						 href="#" 
						 id="navbarDropdown" 
						 role="button" 
						 data-bs-toggle="dropdown"
						 aria-expanded="false">
						Rendezvények
					</a>
					<ul class="dropdown-menu" 
							aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" ui-sref="consoleroom">Konzolszoba</a></li>
						<li><a class="dropdown-item" ui-sref="wendings">Esküvőszervezés</a></li>
						<li><a class="dropdown-item" ui-sref="esemeny">Jövőbeli és aktuális események</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" 
						 href="#" 
						 id="navbarDropdown" 
						 role="button" 
						 data-bs-toggle="dropdown"
						 aria-expanded="false">
						Útbaigazítás
					</a>
					<ul class="dropdown-menu" 
							aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" ui-sref="information">Vendégtájékoztató</a></li>
						<li><a class="dropdown-item" ui-sref="elerhetoseg">Elérhetőség</a></li>
						<li><a class="dropdown-item" ui-sref="obout_us">Rólunk</a></li>
					</ul>
				</li> 
			</ul>
		 

			
			<!-- Keresőmező -->
			<form name="searchForm" class="d-flex">
				<input class="form-control me-2" 
							 type="search" 
							 name="search" 
							 placeholder="Keresés" 
							 aria-label="Keresés">
				<button class="btn btn-outline-dark" 
								type="submit">
					Keresés
				</button>
			</form>

			<!-- Foglalás gomb/link -->
			<div class="d-grid gap-2 col-2 mx-auto">
				<button class="btn btn-secondary border-3 border-dark" 
								ng-disabled="!$root.user.id" 
								type="button">
					Szobafoglalás
				</button>
			</div>


			<!-- Belépés gomb/link -->
			<button type="button" 
							class="btn btn-outline-dark ms-auto" 
							data-bs-toggle="modal" 
							data-bs-target="#setupModal">
				<span ng-if="!$root.user.id">Bejelentkezés</span>
				<span ng-if="$root.user.id">Beállítások</span>
			</button>
		</div>
	</div>
</nav>