 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" ng-class="{ active: $index === 0 }" ng-repeat="slide in otthon">
            <img ng-src="{{ slide.img }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 10%;">
                <h1 style="text-transform: uppercase; font-weight: bold; font-style: italic; color: #000000; text-shadow: 3px 3px 2px rgba(221, 199, 125, 1), -11px 3px 22px rgba(127, 124, 71, 1);">
                    <span ng-repeat="word in slide.caption.split(' ')">{{ word }} </span>
                </h1>
                <a ui-sref="{{ slide.buttonLink }}" href="{{ slide.buttonLink }}"><button type="button" class="btn btn-warning btn-lg" style="border-radius: 5px; border: solid 2px black;">{{ slide.buttonLabel }}</button></a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<div class="position1 container">
  <div class="position2 row">
    <div class="card mt-3">
      <div class="col">
        <div class="mt-5 text-center">
            <img src="img/Szoba/lakosztaly3.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded img-fluid" alt="...">
          <h1 class="text-center">Üdvözöljük</h1>
          <h5><strong>DiamondLake Wellness Szállodában!</strong></h5>
          <p>Szeretettel köszöntjük Önt a Diamond Lake Wellness Szálloda varázslatos világában,
             ahol a kikapcsolódás és az élmények új dimenzióit fedezheti fel.</p>
          <h2>Fedezze fel új lehetőségeinket!</h2>
          <p>Válassza a pihenést és feltöltődést a lenyűgöző wellness szolgáltatásaink révén, ahol testét és lelkét egyaránt ápolhatja. Engedje, 
             hogy a nyugtató masszázsok és a gyógyító fürdők egészséget és harmóniát hozzanak az életébe.</p>
          <h2>Kalandra fel a játékosoknak!</h2>
          <p>Azoknak, akik inkább izgalmakra vágynak, számtalan lehetőséget kínálunk a szórakozásra. Élvezze a modern konzolok által nyújtott élményeket a Konzolszobánkban,
             ahol a legújabb játékokkal találkozhat és versenyezhet barátaival.</p>
             <img src="img/Esemenyek/catdog1.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded img-fluid" alt="...">
          <h2>Élvezze a természet szépségét!</h2>
          <p>Ha pedig a friss levegő és a természet közelsége hívja, sétáljon körbe varázslatos tóparti kertünkben, vagy merüljön el a környék lenyűgöző tájainak felfedezésében. A túrázás, kerékpározás és horgászat kiváló lehetőségeket kínál a kikapcsolódásra.</p>
          <h2>Szórakozás és barátság minden nap!</h2>
          <p>A Diamond Lake Wellness Szálloda minden nap új élményekkel és lehetőségekkel várja Önt és szeretteit. Legyen részese egy olyan helynek, ahol a jókedv, a barátság és az élmények örök emlékeket teremtenek.</p>
          <h2>Kapcsolódjon ki nálunk, és élvezze az élet szépségeit!</h2>
          <p>A Diamond Lake Wellness Szálloda csapata mindenben segítségére lesz, hogy Önnek és társainak felejthetetlen élményekben legyen része. Várjuk Önt szeretettel a legközelebbi pihenésre és kalandra!</p>
        </div>
      </div>
    </div>	


 
  </div>
  

  
   <!-- Képgaléria[eleje] -->
  <div class="card mt-3">
    <h1 class="text-center">Képgaléria</h1>
    <div class="col">
      <div class="mt-3">
        <div class="container">
          <div class="row">
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba1">
                <img src="img/Szoba/lakosztaly1.jpg" class="img-fluid " class="kepgaleria" alt="lakosztaly1">
              </div>
                <!-- modal[1] -->
                <div class="modal" id="szoba1" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/lakosztaly1.jpg" class="img-fluid  border border-3" alt="lakosztaly1">
                    </div>
                  </div>
                </div>
                <!-- modal[1] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba2">
                <img src="img/Szoba/lakosztaly2.jpg" class="img-fluid " class="kepgaleria" alt="lakosztaly2">
              </div> 
                <!-- modal[2] -->
                <div class="modal" id="szoba2" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/lakosztaly2.jpg" class="img-fluid  border border-3" alt="lakosztaly2">
                    </div>
                  </div>
                </div>
                <!-- modal[2] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba3">
                <img src="img/Szoba/lakosztaly3.jpg" class="img-fluid " class="kepgaleria" alt="lakosztaly3">
              </div>
                <!-- modal[3] -->
                <div class="modal" id="szoba3" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/lakosztaly3.jpg" class="img-fluid  border border-3" alt="lakosztaly3">
                    </div>
                  </div>
                </div>
                <!-- modal[3] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba4">
                <img src="img/Szoba/lakosztaly4.jpg" class="img-fluid " class="kepgaleria" alt="lakosztaly4">
              </div> 
                <!-- modal[4] -->
                <div class="modal" id="szoba4" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/lakosztaly4.jpg" class="img-fluid  border border-3" alt="lakosztaly4">
                    </div>
                  </div>
                </div>
                <!-- modal[4] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba5">
                <img src="img/Szoba/lakosztaly5.jpg" class="img-fluid " class="kepgaleria" alt="lakosztaly5">
              </div>  
                <!-- modal[5] -->
                <div class="modal" id="szoba5" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/lakosztaly5.jpg" class="img-fluid  border border-3" alt="lakosztaly5">
                    </div>
                  </div>
                </div>
                <!-- modal[5] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba6">
                <img src="img/Szoba/szoba1.jpg" class="img-fluid " class="kepgaleria" alt="szoba1">
              </div>
                <!-- modal[6] -->
                <div class="modal" id="szoba6" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/szoba1.jpg" class="img-fluid  border border-3" alt="szoba1">
                    </div>
                  </div>
                </div>
                <!-- modal[6] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba7">
                <img src="img/Szoba/szoba2.jpg" class="img-fluid " class="kepgaleria" alt="szoba2">
              </div>  
                <!-- modal[7] -->
                <div class="modal" id="szoba7" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/szoba2.jpg" class="img-fluid  border border-3" alt="szoba2">
                    </div>
                  </div>
                </div>
                <!-- modal[7] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba8">
                <img src="img/Szoba/szoba8.jpg" class="img-fluid " class="kepgaleria" alt="szoba8">
              </div>
                  <!-- modal[8] -->
                  <div class="modal" id="szoba8" tabindex="-1">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content">
                        <img src="img/Szoba/szoba8.jpg" class="img-fluid  border border-3" alt="szoba8">
                      </div>
                    </div>
                  </div>
                  <!-- modal[8] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba9">
                <img src="img/Szoba/szoba4.jpg" class="img-fluid " class="kepgaleria" alt="szoba4">
              </div>
                  <!-- modal[9] -->
                  <div class="modal" id="szoba9" tabindex="-1">
                    <div class="modal-dialog modal-xl modal-dialog-centered">
                      <div class="modal-content">
                        <img src="img/Szoba/szoba4.jpg" class="img-fluid  border border-3" alt="szoba4">
                      </div>
                    </div>
                  </div>
                  <!-- modal[9] -->
            </div>
            <div class="col-md-3 mb-3">
              <div data-bs-toggle="modal" data-bs-target="#szoba10">
                <img src="img/Szoba/szoba5.jpg" class="img-fluid " class="kepgaleria" alt="szoba5">
              </div>
                <!-- modal[10] -->
                <div class="modal" id="szoba10" tabindex="-1">
                  <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                      <img src="img/Szoba/szoba5.jpg" class="img-fluid  border border-3" alt="szoba5">
                    </div>
                  </div>
                </div>
                <!-- modal[10] -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Képgaléria[vege] -->

</div>












