<!-- Change password form -->	 
<form name="passwordForm">

	<!-- Password current-->
	<div class="mb-3 col-12 col-sm-11 col-lg-9 col-xl-8">
		<label for="pasPassword_current" class="form-label">
			<i class="fa-solid fa-star fa-2xs text-danger"></i>
			<span>Jelenlegi jelszó:</span>
		</label>
		<input class="form-control input-password"
					 id="pasPassword_current"
					 name="pasPassword_current"
					 placeholder="jelenlegi jelszó" 
					 type="password"
					 spellcheck="false" 
					 autocomplete="off"
					 maxlength="50"
					 ng-model="model.password.password_current"
					 ng-init="model.password.password_current=null"
					 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
					 required>
	</div>

	<!-- Password -->
	<div class="mb-1 col-12 col-sm-11 col-lg-9 col-xl-8">
		<label for="pasPassword" class="form-label">
			<i class="fa-solid fa-star fa-2xs text-danger"></i>
			<span>Új jelszó:</span>
		</label>
		<input class="form-control input-password"
					 id="pasPassword"
					 name="pasPassword"
					 placeholder="új jelszó" 
					 type="password"
					 spellcheck="false" 
					 autocomplete="off"
					 maxlength="50"
					 ng-model="model.password.password"
					 ng-init="model.password.password=null"
					 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
					 required
					 aria-describedby="pasPasswordHelp">
		<div id="pasPasswordHelp" class="form-text">
			6-20 karakter (kis-nagy betűt, és számot tartalmaz)
		</div>
	</div>

	<!-- Show/Hide password -->
	<div class="mb-3 form-check">
		<input type="checkbox" 
					 class="form-check-input" 
					 id="pasPasswordShow"
					 name="pasPasswordShow"
					 data-key="password"
					 data-field="passwordShow"
					 ng-model="model.password.passwordShow"
					 ng-init="model.password.passwordShow=false"
					 ng-click="event=$event"
					 ng-change="methods.showHidePassword(event)">
		<label class="form-check-label" for="pasPasswordShow">
			jelszót megjelenít
		</label>
	</div>
	<hr class="divider">

	<!-- Buttons -->
	<div class="text-center text-sm-end">

		<!-- Accept button -->
		<button data-key="password" 
						type="button" 
						class="btn mx-1 mb-1 btn-primary"
						style="min-width:120px;"
						data-bs-dismiss="modal"
						ng-disabled="passwordForm.$invalid" 
						ng-click="methods.accept($event)">
			Mentés
		</button>

		<!-- Cancel -->
		<button type="button" 
						class="btn mx-1 mb-1 btn-outline-secondary" 
						style="min-width:120px;"
						data-bs-dismiss="modal">
			Mégsem
		</button>
	</div>  
</form>