<div class="wrapper">
    <div class="position1 container">
      
      <div class="row row-cols-1 row-cols-md-3 g-4">
       
           <h1 class="mt-3">Rólunk mondták</h1>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kényelmes szobák</h5>
                            <p class="card-text">Vendégeink szerint kényelmesek és jól felszereltek a szobáink.</p>
                            <p class="card-text"><small class="text-muted">- Példa Vendég: "Fantasztikus élmény volt itt megszállni!"</small></p>
                        </div>
                    </div>
                </div>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kiváló szolgáltatás</h5>
                            <p class="card-text">Barátságos és segítőkész személyzetünk mindenben a rendelkezésére áll.</p>
                            <p class="card-text"><small class="text-muted">- Egy elégedett vendég: "Nagyon kedves és figyelmes személyzet!"</small></p>
                        </div>
                    </div>
                </div>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kitűnő elhelyezkedés</h5>
                            <p class="card-text">A szálloda központi elhelyezkedése könnyű hozzáférést biztosít a város látnivalóihoz.</p>
                            <p class="card-text"><small class="text-muted">- Szállodánk hűséges vendégei: "Csodálatos kilátás és közel mindenhez!"</small></p>
                        </div>
                    </div>
                </div>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bőséges reggeli</h5>
                            <p class="card-text">A reggelik változatosak és bőségesek, mindenki megtalálja a kedvére valót.</p>
                            <p class="card-text"><small class="text-muted">- Egy újabb elégedett vendég: "A reggeli választék kiváló!"</small></p>
                        </div>
                    </div>
                </div>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kellemes környezet</h5>
                            <p class="card-text">A szálloda környezete nyugodt és barátságos, ideális pihenéshez.</p>
                            <p class="card-text"><small class="text-muted">- Egy elégedett vendég: "Csodálatos és nyugodt környezet!"</small></p>
                        </div>
                    </div>
                </div>

                <div class="col w-100">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Vidám diszkóparty</h5>
                            <p class="card-text">A szálloda rendezvénytermeiben rendszeresen vidám és felejthetetlen diszkópartikat szervezünk.</p>
                            <p class="card-text"><small class="text-muted">- Egy bulizni vágyó vendég: "Fantasztikus hangulat és jó zenék a diszkópartykon!"</small></p>
                        </div>
                    </div>
                </div>

      </div>
    </div>
  </div>

  <div class="position1 container-fluid">
    <div class="position2 row ">
            
            <h1 class="mt-3">Fejlesztők</h1> 

            <div class="row row-cols-1 row-cols-md-3 g-2" ng-controller="rolunkController">
                <div class="col" ng-repeat="service in rolunk track by $index">
                    <div class="card mt-2">
                        <img ng-src="./img/{{service.img}}.png" class="card-img-top" alt="{{service.title}}">
                        
                        <div class="card-body">
                            <h5 class="card-title text-center">{{service.title}}</h5>
                            <h6 class="card-title text-center">{{service.job}}</h6>
                        </div>

                        <div class="text-center">
                          <a ng-if="service.title === 'Valach Martin'" ui-sref=""><i class="fab fa-git"></i></a>
                          <a ng-if="service.title === 'Valach Martin'" ui-sref=""><i class="fab fa-trello"></i></a>
                          <a ng-if="service.title === 'Valach Martin'" ui-sref=""><i class="fab fa-figma"></i></a>

                          <a ng-if="service.title === 'Surányi Csenge'" ui-sref=""><i class="fab fa-git"></i></a>
                          <a ng-if="service.title === 'Surányi Csenge'" ui-sref=""><i class="fab fa-trello"></i></a>
                          <a ng-if="service.title === 'Surányi Csenge'" ui-sref=""><i class="fab fa-figma"></i></a>

                          <a ng-if="service.title === 'Kiss Benjámin Zoltán'" ui-sref=""><i class="fab fa-git"></i></a>
                          <a ng-if="service.title === 'Kiss Benjámin Zoltán'" ui-sref=""><i class="fab fa-trello"></i></a>
                          <a ng-if="service.title === 'Kiss Benjámin Zoltán'" ui-sref=""><i class="fab fa-figma"></i></a>
                        </div>
                  
                  </div>
              </div>
        </div> 

        <h1 class="mt-3">Rólunk mondták</h1>

    </div>
</div>