      <!-- Carousel -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img ng-src="img/recepciocarousel.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 10%;">
              
              <h1 style=" text-transform: uppercase; font-weight: bold;font-style: italic;color: #000000;text-shadow: 3px 3px 2px #ddc77d,-11px 3px 22px rgba(127, 124, 71, 1);">
                <span>Foglaljon</span>
                <span>nálunk</span>
                <span>szobát </span>
                <span>bizalommal!</span>
              </h1>
    
              <a ui-sref="foglalas"><button ng-if="$root.user.id"  type="button" class="btn btn-warning btn-lg foglalas" style="color:black; border-radius: 5px;border: solid 2px black;">Foglalás</button></a>
            </div>
          </div>

          <div class="carousel-item">
            <img ng-src="img/etterem/etterem6atmeretezettblur.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 10%;">
              
              <h1 style=" text-transform: uppercase; font-weight: bold;font-style: italic;color: #000000;text-shadow: 3px 3px 2px rgb(221, 199, 125),-11px 3px 22px rgba(127, 124, 71, 1);">
                <span>A</span>
                <span>szálloda</span>
                <span>éttermében</span>
                <br>
                <span>első</span>
                <span>osztályú</span>
                <span>ételeket</span>
                <span>kínálunk!</span>
              </h1>

              <a ui-sref="restaurant" href="etterem.html"><button type="button" class="btn btn-warning btn-lg megnezetterem" style="border-radius: 5px;border: solid 2px black;color:#000000">Megnézem az éttermet</button></a>
            </div>
          </div>

          

          <div class="carousel-item">
            <img ng-src="img/szobaink/szoba6.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="margin-bottom: 10%;">
              
              <h1 style=" text-transform: uppercase; font-weight: bold;font-style: italic;color: #000000;text-shadow: 3px 3px 2px rgb(221, 199, 125),-11px 3px 22px rgba(127, 124, 71, 1);">
                <span>Szobáink</span>
                <span>megnyugvást </span>
                <span>nyújtanak,</span>
                <br>
                <span>helyezze</span>
                <span>magát</span>
                <span>nálunk</span>
                <span>kényelembe!</span>
              </h1>

                <button type="button" class="btn btn-warning btn-lg" style="border-radius: 5px;border: solid 2px black;">Megnézem az szobákat</button>
            </div>
          </div>
        </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
          </button>
      </div>

      <div class="position1 container">
        <div class="position2 row box">
            <ul class="leirasigazit">
              
              <h1 class="szobainkh1">Szobák</h1>

              <hr class="szobainkhr">

              <li style="font-weight:bold">
                Nagyvonalú szállodánk 35 szobával rendelkezik, melyek közül több típusból is választhat-Standard, Superior, Deluxe,
                <br>melyekre nagy hangsúlyt fektetünk elegancia, kényelem és a mai világhoz tartozó modernitás terén is.
              </li>

              <hr class="szobainkhr">

              <li style="font-weight:bold">Deluxe kategóriás szobáinkban kád található. Családos vendégeink részére néhány szobánk felnőtt-, gyermek - és babaággyal pótágyazható. <br> 
              </li>

              <hr class="szobainkhr">

              <li style="font-weight:bold">
                A szobaár magába foglalja a wellness-, fitness szolgáltatások használatát, parkolóhelyet.
              </li>

              <hr class="szobainkhr">

              <li style="font-weight:bold">
                Szállodánkban és 5 méteres körzetében tilos a dohányzás,figyelünk a vendégeink és a saját egészségünkre.<br>
              </li>
              
              <hr class="szobainkhr">

              <li style="font-weight:bold">
                Rendelkezünk egy akadálymentesített szobával is.
              </li>
          
              <hr class="szobainkhr">

              <li style="font-weight:bold">
                Szobáink lifttel és lépcsőn is kényelmesen megközelíthetőek.
              </li>
            </ul>
        </div>
      </div>

      <div class="position1 container">
          <div class="position2 row">
              <!--szobáink/ikonok-->
            <div class="icons row d-flex justify-content-around mb-5">
              
              <div class="col-4 col-md-auto d-flex flex-column">
                <div class='hajszarito text-center'>
                  <img ng-src="img/ikonok/hajszarito/hajszarito2.png"  class="iconitem img-fluid">
                  <p>Hajszárító</p>
                </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="lcdtv text-center">
                    <img ng-src="img/ikonok/lcdtv/tvgradient1.png" class="iconitem img-fluid">
                    <p>LCD TV</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="wifi text-center">
                    <img ng-src="img/ikonok/wifi/wifigradient.png" class="iconitem img-fluid">
                    <p>Wifi</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="telefon text-center">
                    <img ng-src="img/ikonok/telefon/telefongradient2.png" class="iconitem img-fluid">
                    <p>Telefon</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="minibar text-center">
                    <img ng-src="img/ikonok/minibar/minibargradient2.png" class="iconitem img-fluid">
                    <p>Minibár</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="szef text-center">
                    <img ng-src="img/ikonok/szef/szefgradient2.png" class="iconitem img-fluid">
                    <p>Széf</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="legkondicionalo text-center">
                    <img ng-src="img/ikonok/legkondi/legkondi5.png" class="iconitem img-fluid">
                    <p>Légkondicionáló</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="potagy text-center">
                    <img ng-src="img/ikonok/potagy/potagygradient1.png" class="iconitem img-fluid">
                    <p>Pótágy</p>
                  </div>
              </div>

              <div class="col-4 col-md-auto d-flex flex-column">
                  <div class="szobaszerviz text-center">
                    <img ng-src="img/ikonok/szobaszerviz/szobaszervizgradient1.png" class="iconitem img-fluid">
                    <p>Szobaszervíz</p>
                  </div>
              </div>

          </div>
        </div>
      </div>
  
   
      
      <!--szobak carousel-->
      <div id="carouselExampleCaptions" class="carousel slide">
        <h1 class="text-center" style="text-transform:uppercase; font-style:italic; margin-bottom: 2%; font-weight: bold; ">Szoba ajánló</h1>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner" >
         
          <div class="carousel-item active carouselkepek" >
            <img ng-src="img/Szoba/deluxe1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:whitesmoke; 
            color:black; border-radius:7px;">
              <h2 style="font-weight: bold; text-transform:uppercase;">Deluxe szoba</h2>
              <h5 style="font-style:italic;">Ha egy kis extrára vágysz az alapokon túl nyúló minőségen, akkor ezt a szobát pont neked találták ki!</h5>
            </div>
          </div>

          <div class="carousel-item carouselkepek">
            <img ng-src="img/Szoba/superiorhaloszoba.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:whitesmoke; 
            color:black; border-radius:7px;">
              <h2 style="font-weight: bold; text-transform:uppercase;">Superior szoba</h2>
              <h5 style="font-style:italic;">Ha esetleg egy Titanic szintű lakosztályban akarnál megpihenni, akkor itt a helyed! <br> Bár itt nincs óceán, és hajó sem, de a fürdőszoba kádjának habjaiban garantáltan eltudsz merülni a hajó elsüllyedése nélkül is.</h5>
            </div>
          </div>

          <div class="carousel-item carouselkepek">
            <img ng-src="img/Szoba/naszutaslakosztaly1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:whitesmoke; 
            color:black; border-radius:7px;">
              <h2 style="font-weight: bold; text-transform:uppercase;">Nászutas lakosztály</h2>
              <h5 style="font-style:italic;">Esküvő,lakodalom utáni pihenés, élvezetkavalkád kettesben a pároddal? Nálunk jó helyen jársz. <br> Garantáljuk, hogy a kényelmes ágyban jól kifogjátok aludni magatokat a hosszú nap, este után!</h5>
            </div>
          </div>

          <div class="carousel-item carouselkepek">
            <img ng-src="img/Szoba/lakosztalyszoba1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:whitesmoke; 
            color:black; border-radius:7px;">
              <h2 style="font-weight: bold; text-transform:uppercase;">Lakosztály</h2>
              <h5 style="font-style:italic;">Nagy tér, kellemes hangulat, pihentető kényelem, és még sorolhatnánk. <br> Erre számíthatsz, ha a sima Lakosztályban akarnál megszállni!</h5>
            </div>
          </div>


          <div class="carousel-item carouselkepek">
            <img ng-src="img/Szoba/elnokilakosztaly1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:whitesmoke; 
            color:black; border-radius:7px;">
              <h2 style="font-weight: bold; text-transform:uppercase;">Elnöki lakosztály</h2>
              <h5 style="font-style:italic;">A csúcsok csúcsa, a legjobbak legjobbika, prémium minőség luxuskivitelben. Ez az elnöki lakosztály. <br> Ha esetleg te volnál az elnök,vagy itt kívánnál megszállni, akkor mindenből a legjobbat fogod megtalálni, ezt garantáljuk!</h5>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
  <!--carousel vége-->




      

    <!--szobak--
    
    <div class="position1 container">
    <h1 class="text-center foglalhatoszobak" style="margin-top: 5%; text-decoration: underline; font-style: italic;">Foglalható szobáink listája</h1>
    <div class="position2 row">
      -Első szoba-
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">

            <div class="col-md-5">
              <img ng-src="img/Szoba/standardszoba.jpg" class="img-fluid rounded-start" >
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Standard</h5> 
                <p class="card-text">Alap minőség alap kivitelben</p>
                 
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal1" alt="...">Megtekintem</button> 
                <h5 style="display: inline-block; margin-left: 10px;">15.860 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      Első szoba vége-->

      <!--Első szobához tartozó modal-
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

            <div class="modal-header">
              <div class="row">
                <div class="col-lg-8 col-sm-6">
                  <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Standard szoba</h2>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <h3 style="font-weight:bold;text-decoration:underline;">15.860 Ft/fő/éj</h3>
                </div>
              </div>
              
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              
              <p style="font-style:italic;">A Standard szobák egyszerre kényelmesek és meghitt hangulatúak, tökéletes választás azok számára, akik szeretnék élvezni a szálloda kellemes légkörét, miközben visszafogott környezetben pihennek. Az egyszerűség és a praktikum ötvözeteként a Standard szobák ideálisak mind a párkapcsolatok, mind pedig az egyedül érkező vendégek számára. </p>
              <hr>
              <h4>Amiket tartalmaz a szoba:</h4>
              <ul style="font-style:italic;">
                <li>kényelmes,puha ágy</li>
                <li>utcára nyíló ablakok</li>
                <li>erkély csodás kilátással</li>
                <li>kicsempézett fürdőszoba</li>
              </ul>
              <div class="img-wrapper">
                <img ng-src="img/Szoba/standardszoba.jpg" class="elsokep inner-img" >
              </div>
      
              <div class="img-wrapper">
                <img ng-src="img/Szoba/standardnappali.jpg" class="masodikkep inner-img">
              </div>
      
              <div class="img-wrapper">
                <img ng-src="img/Szoba/standardnappaliteljes.jpg" class="harmadikkep inner-img">
              </div>
      
              <div class="img-wrapper">
                <img ng-src="img/Szoba/standardkonyha.jpg" class="negyedikkep inner-img">
              </div>
      
              <div class="img-wrapper">
                <img ng-src="img/Szoba/standardfurdo.jpg" class="otodikkep inner-img">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    -Első szobához tartozó modal vége-->

      <!--Második szoba-
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">

            <div class="col-md-5">
              <img ng-src="img/Szoba/superiorhaloszoba.jpg" class="img-fluid rounded-start" >
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Superior</h5>
                <p class="card-text">Akik egy kis extrára vágynak az alapokon túl</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal2" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">47.530 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      -Második szoba vége-->

      <!--Második szobához tartozó modal-
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Superior szoba</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">47.530 Ft/fő/éj</h3>
                  </div>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style:italic;">A Superior szobák kifinomult eleganciájukkal és modern berendezésükkel azonnal otthonos hangulatot teremtenek, ami hozzájárul a vendégek teljes kikapcsolódásához és relaxációjához. Emellett a Superior szobák kényelmi szolgáltatásai és extra felszereltsége teszik lehetővé, hogy minden vendég maximálisan kiélvezhesse tartózkodásának minden pillanatát. </p>
                <hr>
                <h4 class="amikettartalmazaszobadeluxe">Amiket tartalmaz a szoba:</h4>
                <ul style="font-style: italic;">
                  <li>extra nagy méretű és kényelmes ágyak</li>
                  <li>privát erkély gyönyörű kilátással a környező tájra</li>
                  <li>modernebb berendezések és dekoráció</li>
                  <li>luxus fürdőszoba esőztető zuhannyal</li>
                </ul>
                <div class="img-wrapper">
                  <img ng-src="img/Szoba/superior1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/superior2.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/superioreloszoba.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/superiorfurdo.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/superiorhaloszoba.jpg" class="otodikkep inner-img">
                </div>
                
              </div>
          </div>
        </div>
      </div>
      -Második szobához tartozó modal vége-->


      <!--Harmadik szoba-
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">

            <div class="col-md-5">
              <img ng-src="img/Szoba/deluxe1.jpg" class="img-fluid rounded-start" >
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Deluxe</h5>
                <p class="card-text">Deluxe mínőség kedvelőinek</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal3" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">72.180 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      Harmadik szoba vége-->

      <!--Harmadik szobához tartozó modal--
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Deluxe szoba</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">72.180 Ft/fő/éj</h3>
                  </div>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p style="font-style: italic;">A Deluxe szobák exkluzív atmoszférája és gondosan megtervezett kényelmi szolgáltatások minden igényt kielégítenek, miközben a vendégeknek lehetőségük van egyedülálló pihenésre és feltöltődésre. A szoba tágas elrendezése és a kifinomult részletek harmonikus egyensúlyt teremtenek, amely tökéletes helyszínt biztosít az újjászületéshez és a mélyebb kapcsolatok elmélyítéséhez. </p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style: italic;">
                  <li>kényelmes, prémium minőségű ágyak</li>
                  <li>nyugtató és elegáns berendezés</li>
                  <li>luxus kiegészítők és kényelmi szolgáltatások</li>
                  <li>minibár és tea/kávé készítési lehetőség</li>
                </ul>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe2.jpg" class="elsokep inner-img" >
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe3.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe2kanape.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxeteljes.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxefurdo.jpg" class="otodikkep inner-img">
                </div>

              </div>
          </div>
        </div>
      </div>
      -Harmadik szobához tartozó modal vége-->

      <!--Negyedik szoba--
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">

            <div class="col-md-5">
              <img ng-src="img/Szoba/deluxe+1.jpg" class="img-fluid rounded-start">
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Deluxe+</h5>
                <p class="card-text">Deluxe mínőség plusszokkal</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal4" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">103.370 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      --Negyedik szoba vége-->

      <!--Negyedik szobához tartozó modal--
      <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Deluxe+ szoba</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">103.370 Ft/fő/éj</h3>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style:italic;">A Deluxe+ szoba a luxus és a kényelem csúcspontja, amely ideális választás azoknak, akik mindenben a legmagasabb színvonalat keresik, miközben ragaszkodnak a visszafogott eleganciához és a nyugalomhoz. Ez a szálloda legexkluzívabb szállásopciója, amely az egyedi szolgáltatások és az elképesztő kényelmi szolgáltatások tökéletes összhangját kínálja a vendégeknek. A Deluxe+ szoba minden részlete gondosan megtervezett és kivitelezett, hogy a vendégek teljes kényelemben és luxusban élvezhessék tartózkodásukat.</p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style: italic;">
                  <li>kényelmes,puha ágy</li>
                  <li>utcára nyíló ablakok</li>
                  <li>erkély csodás kilátással</li>
                  <li>kicsempézett fürdőszoba</li>
                </ul>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe+1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe+3.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe+7.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe+6.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/deluxe+8.jpg" class="otodikkep inner-img">
                </div>

                
              </div>
          </div>
        </div>
      </div>
    --Negyedik szobához tartozó modal vége-->

      <!--Ötödik szoba-
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <img ng-src="img/Szoba/lakosztalyteljes.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            
            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Lakosztály</h5>
                <p class="card-text">Titanic szintű lakosztály</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal5" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">138.740 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      -Ötödik szoba vége-->

      <!--Ötödik szobához tartozó modal--
      <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Lakosztály</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">138.740 Ft/fő/éj</h3>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style:italic;">A Lakosztály stílusú szobák exkluzív atmoszférájukkal és aprólékos részleteikkel olyan környezetet teremtenek, amely tökéletes a romantikus kikapcsolódáshoz vagy a személyes luxusélmények megtapasztalásához. Ezek a lakosztályok magas színvonalú kényelemmel és visszafogott eleganciával harmonizálnak, biztosítva, hogy minden vendég teljes mértékben átélhesse a luxust és a nyugalmat.</p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style: italic;">
                  <li>kényelmes,puha ágy</li>
                  <li>utcára nyíló ablakok</li>
                  <li>erkély csodás kilátással</li>
                  <li>kicsempézett fürdőszoba</li>
                </ul>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalyszoba1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalyteljes.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalyfolyoso.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalykonyhanappali.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalykonyha.jpg" class="otodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/lakosztalyfurdo.jpg" class="hatodikkep inner-img">
                </div>

              </div>
          </div>
        </div>
      </div>

      -Ötödik szobához tartozó modal vége-->
      <!--Hatodik szoba--
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <img ng-src="img/Szoba/naszutaslakosztaly1.jpg" class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Nászutas lakosztály</h5>
                <p class="card-text">Nászutas pároknak</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal6" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">162.540 Ft/fő/éj</h5>
              </div>
            </div>

          </div>
        </div>
      </div>
      -Hatodik szoba vége-->

      <!--Hatodik szobához tartozó modal-
      <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Nászutas lakosztály</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">160.540 Ft/fő/éj</h3>
                  </div>
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style: italic;">A Nászutas lakosztályok egyedi atmoszférájukkal és romantikus részleteikkel olyan környezetet teremtenek, amely tökéletes az új házasok számára, akik szeretnék megünnepelni az egyedülálló pillanatokat. Ezek a lakosztályok luxus kényelemmel és intimitással rendelkeznek, hogy az esküvői utazás minden pillanata emlékezetes legyen. A Nászutas lakosztályok elegáns kialakításukkal és exkluzív szolgáltatásaikkal garantálják a párok teljes ellazulását és a romantikus élmények maximális élvezetét.</p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style: italic;">
                  <li>kényelmes,puha ágy</li>
                  <li>utcára nyíló ablakok</li>
                  <li>erkély csodás kilátással</li>
                  <li>kicsempézett fürdőszoba</li>
                </ul>
                <div class="img-wrapper">
                  <img ng-src="img/Szoba/naszutaslakosztaly1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/naszutaslakosztaly2.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/naszutasszoba.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/naszutaslakosztalykonyha.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/naszutaslakosztalyfurdo.jpg" class="otodikkep inner-img">
                </div>

              </div>
          </div>
        </div>
      </div>

      --Hatodik szobához tartozó modal vége-->

      <!--Hetedik szoba--
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <img ng-src="img/Szoba/elnokilakosztaly1.jpg" class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title">Elnöki lakosztály</h5>
                <p class="card-text">Az elnöknek személyesen</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal7" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">197.470 Ft/fő/éj</h5>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      --Hetedik szoba-->

      <!--Hetedik szobához tartozó modal--
      <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">

              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Elnöki lakosztály</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">197.470 Ft/fő/éj</h3>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style:italic;">Az Elnöki lakosztály az abszolút luxus és kényelem megtestesítője, mely ideális választás azoknak, akik a legmagasabb színvonalú szolgáltatásokra és kényelemre vágynak. Ez a lakosztály a szálloda csúcsa, exkluzív atmoszférával és impozáns méretével kiemelkedik a többi szobából. Tágas tér, kifinomult design és privát szolgáltatások biztosítják, hogy a vendégek teljes mértékben átéljék az exkluzivitás és a kényelem érzését, hogy teljesen kikapcsolódhassanak a mindennapok stresszétől.</p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style:italic;">
                  <li>kényelmes,puha ágy</li>
                  <li>utcára nyíló ablakok</li>
                  <li>erkély csodás kilátással</li>
                  <li>kicsempézett fürdőszoba</li>
                </ul>
                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztaly1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztaly2.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztaly3.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztaly4.jpg" class="negyedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztaly5.jpg" class="otodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztalynappali.jpg" class="hatodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztalyfurdo.jpg" class="hetedikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/elnokilakosztalykonyha.jpg" class="nyolcadikkep inner-img">
                </div>

              </div>
          </div>
        </div>
      </div>

      --Hetedik szobához tartozó modal vége-->

      <!--Nyolcadik szoba--
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <img ng-src="img/Szoba/akadalymentesitett1.jpg" class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title" >Akadálymentesített szoba</h5>
                <p class="card-text">Mozgássérülteknek rendelkezésre álló lakosztály</p>
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal8" alt="...">Megtekintem</button>
                <h5 style="display: inline-block; margin-left: 10px;">69.270 Ft/fő/éj</h5>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      --Nyolcadik szoba vége-->

      <!--Nyolcadik szobához tartozó modal--
      <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">
            
              <div class="modal-header">
                <div class="row">
                  <div class="col-lg-8 col-sm-6">
                    <h2 class="modal-title" id="exampleModalLabel" style="font-weight:bold ;">Akadálymentesített szoba</h2>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <h3 style="font-weight:bold;text-decoration:underline;">69.270 Ft/fő/éj</h3>
                  </div>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p style="font-style:italic;">Az Akadálymentesített lakosztály kényelmes és befogadó környezetet biztosít mozgássérült vendégek számára, anélkül, hogy kompromisszumot kellene kötniük a luxus és a kényelem terén. Kiemelkedő jellemzői közé tartozik a tágas tér, az alacsonyan elhelyezett bútorok és az akadálymentesített fürdőszoba, amelyek gondosan tervezettek annak érdekében, hogy a vendégek teljes mértékben élvezhessék tartózkodásukat a szállodában.</p>
                <hr>
                <h4>Amiket tartalmaz a szoba:</h4>
                <ul style="font-style:italic;">
                  <li>kényelmes,puha ágy</li>
                  <li>utcára nyíló ablakok</li>
                  <li>erkély csodás kilátással</li>
                  <li>kicsempézett fürdőszoba</li>
                </ul>
                <div class="img-wrapper">
                  <img ng-src="img/Szoba/akadalymentesitett1.jpg" class="elsokep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/akadalymentesitett2.jpg" class="masodikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/akadalymentesitettfurdo.jpg" class="harmadikkep inner-img">
                </div>

                <div class="img-wrapper">
                  <img ng-src="img/Szoba/akadalymentesitettfurdo1.jpg" class="negyedikkep inner-img">
                </div>

              </div>
          </div>
        </div> 
      </div>

      --Nyolcadik szobához tartozó modal vége

    </div>
    </div>-->





 <!-- Szobák listája, AngularJS vezérlővel -->
<div class="position1 container" ng-controller="RoomController">
  <h1 class="text-center foglalhatoszobak" style="margin-top: 5%; text-decoration: underline; font-style: italic;">
    Foglalható szobáink listája
  </h1>
  <div class="position2 row row-cols-1 row-cols-md-2 g-4">
    
    <!-- Szobák dinamikusan az `ng-repeat`-tel -->
    <div class="col-md-6" ng-repeat="room in rooms">
      <div class="card mb-3" style="height: 100%; margin-bottom: 20px;">
        <div class="row g-0" style="height: 100%;">
          <div class="col-md-5">
            <div class="card-img-container d-flex justify-content-start align-items-start" style="height: 100%;">
              <img ng-src="{{ room.img }}" class="img-fluid rounded-start" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
          </div>
          <div class="col-md-7" style="height: 100%;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ room.name }}</h5>
              <p class="card-text">{{ room.description }}</p>
              <div style="text-align: center; margin-top: auto;">
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#{{ room.modalId }}">
                  Megtekintem
                </button>
                <h5 style="display: inline-block; margin-left: 5px;">
                  {{ room.price }} Ft/fő/éj
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    <!-- Modál tartalom  eleje-->
    <div ng-repeat="room in rooms">
      <div class="modal fade" id="{{ room.modalId }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl custom-modal">
          <div class="modal-content">
            <div class="modal-header">
              <div class="row w-100">
                <div class="col-lg-8 col-sm-6">
                  <h2 class="modal-title" style="font-weight:bold;">{{ room.modalTitle }}</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-right">
                  <h3 style="font-weight:bold;text-decoration:underline;">{{ room.price }} Ft/fő/éj</h3>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <p style="font-style:italic;">{{ room.modalDescription }}</p>
              <hr>
              <h4>Amiket tartalmaz a szoba:</h4>
              <ul style="font-style:italic;">
                <li ng-repeat="feature in room.features">{{ feature }}</li>
              </ul>

              <!-- Elrendezés javítása a képek esetében -->
              <div class="row mt-2"> 
                <div class="col-md-6">
                  <img ng-src="{{ room.modalImages[0] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;"> <!-- Térköz a képek között -->
                </div>
                <div class="col-md-6">
                  <img ng-src="{{ room.modalImages[1] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;">
                </div>
              </div>

              <!-- Új sor a további képekhez -->
              <div class="row mt-2">
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[2] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;"> 
                </div>
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[3] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;">
                </div>
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[4] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;">
                </div>
              </div>

              <!-- Új sor a további képekhez -->
              <div class="row mt-2">
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[5] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;"> 
                </div>
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[6] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;"> 
                </div>
                <div class="col-md-4">
                  <img ng-src="{{ room.modalImages[7] }}" class="inner-img" style="max-width:100%; margin-bottom: 10px;"> 
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- Modál tartalom  vége-->
</div>


